/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Archivo+Black|PT+Sans:400,700");
body, ul, p {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'PT Sans', sans-serif;
  color: #777;
  font-size: 13px;
}

h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 15px 0;
}

h1 {
  font-size: 50px;
}

a {
  color: #aaa;
  text-decoration: none;
}

p {
  font-size: 13px;
}

.button {
  padding: 10px 15px 10px 15px;
  background-color: transparent;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-right: 15px;
  font-size: 13px;
  font-weight: 600;
  font-family: 'PT Sans', sans-serif;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:last-of-type {
  margin-right: 0;
}

.button-info {
  background-color: transparent;
  color: #777;
  border: 1px solid #444;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button-info:hover {
  border-color: #555;
  color: #888;
}

.button-primary {
  background-color: #00aeff;
  color: #fff;
  border: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button-primary:hover {
  background-color: #009ce4;
}

.button-success {
  background-color: #4bbe2f;
  color: #fff;
  border: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button-success:hover {
  background-color: #43a829;
}

.button-danger {
  background-color: #cf3b3b;
  color: #fff;
  border: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button-danger:hover {
  background-color: #c43131;
}

input[type="text"], textarea, input[type="password"] {
  color: #777;
  padding: 15px;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Calibri;
  font-size: 15px;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #444;
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: #444;
}

input[type="text"]::-ms-input-placeholder, textarea::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder {
  color: #444;
}

input[type="text"]::placeholder, textarea::placeholder, input[type="password"]::placeholder {
  color: #444;
}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
  outline: none;
  border: 1px solid #777;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags > .tag {
  background-color: #222;
  padding: 5px;
  margin-right: 5px;
  margin-top: 15px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  font-size: 11px;
}

.tags > .tag:last-of-type {
  margin-right: 0;
}

.tags > .tag:hover {
  cursor: pointer;
  background-color: #252525;
}
/*# sourceMappingURL=styles.css.map */