$primary-color: #23c0c5;
$background-color: #1a1a1a;
$background-color-lighter : #222;
$background-color-darker: #111;
$text-color: #777;
$text-color-darker: #666;
$link-color: #aaa;
$link-color-darker: #888;
$heading-color: #ccc;
$basic-padding: 25px;
$basic-margin: 25px;