<h2>Tags</h2>
<div class="sidebar-tags">
    <div class="tag">Angular (1234)</div>
    <div class="tag">Entity framework (1134)</div>
    <div class="tag">CSS (890)</div>
    <div class="tag">HTML (654)</div>
    <div class="tag">Java (345)</div>
    <div class="tag">C# (267)</div>
    <div class="tag">MonoGame (245)</div>
    <div class="tag">Xamarin (221)</div>
    <div class="tag">Allegro (196)</div>
    <div class="tag">AutoMapper (156)</div>
    <div class="tag">Python (145)</div>
    <div class="tag">Hardware (142)</div>
    <div class="tag">Software (123)</div>
    <div class="tag">Webdev (112)</div>
    <div class="tag">REST (112)</div>
    <div class="tag">SOLID (65)</div>
    <div class="tag">Offtopic (34)</div>
    <div class="tag">Webservices (14)</div>
</div>
