<div class="note-form">
  <div class="note-form-shading" (click)="close()"></div>
  <div class="note-form-content">
    <div class="note-form-header">
      <h2>New note</h2>
      <p>Formularz dodawania nowej notatki. Wypełnij poniższe pola aby dodać nową notatkę.</p>
    </div>

    <div class="note-form-inputs">
      <div class="form-group">
        <div class="form-row">
          <input type="text" placeholder="Note name" spellcheck="false">
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <textarea rows="4" cols="50" placeholder="Note content" spellcheck="false"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <input type="text" placeholder="Tag name" spellcheck="false">
          <button class="button button-info">Add tag</button>
        </div>
      </div>

      <button type="submit" class="button button-primary">Add note</button>
    </div>
  </div>
</div>