@import "../../variables.scss";
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:host {
    width: 100%;
    height: 100%;
}

.add-note-button {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: $primary-color;
    z-index: 98;
}

.notes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.note {
    margin-right: 15px;
    background-color: $background-color;
    border-radius: 3px;
    min-width: calc(25% - (3.0 * 15px)/4.0);
    max-width: calc(25% - (3.0 * 15px)/4.0);

    &:nth-child(4n) {
        margin-right: 0;
    }

    &:hover {
        cursor: pointer;
        .note-img > img {
            transform: scale(1.1);          
        }
    }
}

.note-img {
    overflow: hidden;

    img {
        width: 100%;
        transition: transform 3s ease-in-out;
    }
}

.note-content {
    padding: 15px;

    h2 {
        font-size: 15px;
        margin-bottom: 15px;
        transition: color 0.25s ease-in-out;
    }
}

.add-note-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    background-color: $primary-color;
    bottom: $basic-padding;
    right: $basic-padding;

    transition: all 0.15s ease-in-out;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    span {
        transform: translateY(-3px);
    }
}
