<div class="notes">
  <div class="note">
    <h2>Note heading</h2>
    <p>This is a note description. Lorem ipsum dolor sit amet, note description it is. Some of this text should be
      hidden when reached the end of the line</p>
    <div class="tags">
      <span class="tag">C#</span>
      <span class="tag">.NET</span>
      <span class="tag">SQL</span>
      <span class="tag">Visual Studio</span>
    </div>
  </div>

  <div class="note">
    <h2>Note heading</h2>
    <p>This is a note description. Lorem ipsum dolor sit amet, note description it is. Some of this text should be
      hidden when reached the end of the line</p>
    <div class="tags">
      <span class="tag">C#</span>
      <span class="tag">.NET</span>
      <span class="tag">SQL</span>
      <span class="tag">Visual Studio</span>
    </div>
  </div>

  <div class="note">
    <h2>Note heading</h2>
    <p>This is a note description. Lorem ipsum dolor sit amet, note description it is. Some of this text should be
      hidden when reached the end of the line</p>
    <div class="tags">
      <span class="tag">C#</span>
      <span class="tag">.NET</span>
      <span class="tag">SQL</span>
      <span class="tag">Visual Studio</span>
    </div>
  </div>

  <div class="note">
    <h2>Note heading</h2>
    <p>This is a note description. Lorem ipsum dolor sit amet, note description it is. Some of this text should be
      hidden when reached the end of the line</p>
    <div class="tags">
      <span class="tag">C#</span>
      <span class="tag">.NET</span>
      <span class="tag">SQL</span>
      <span class="tag">Visual Studio</span>
    </div>
  </div>
</div>

<div class="add-note-button" (click)="showModal()">
  <span>+</span>
</div>