@import "../../variables.scss";
@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

:host {
    width: 100%;
    height: 100%;
}

.add-note-button {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: $primary-color;
    z-index: 98;
}

.notes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.note {
    margin-bottom: $basic-margin;
    background-color: $background-color;
    padding: $basic-padding;
    transition: background-color 0.25s ease-in-out;
    border-radius: 3px;
    width: 100%;

    h2 {
        font-size: 18px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.add-note-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    background-color: $primary-color;
    bottom: $basic-padding;
    right: $basic-padding;

    transition: all 0.15s ease-in-out;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    span {
        transform: translateY(-3px);
    }
}
