@import "../../variables.scss";

ul {
    list-style: none;
    li {
        display: inline-block;
        margin-right: 25px;
    }

    li > a {
        font-size: 13px;
        color: $text-color-darker;
        text-transform: uppercase;
        font-weight: 900;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: $primary-color;
        }
    }
}

.navbar {
    padding: $basic-padding;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: $background-color;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}